body{
    font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
    max-width: 60rem;
    margin: auto;
    background-color: peru;
    font-size: .9rem;

}

main{
    background-color: #fdfdfd;
    border: 1px black solid;
    border-top: 0px;
    border-bottom: 0px;
    box-shadow: 10px 10px 5px rgb(0, 0, 0, 0.7);


}
.content{
    padding: .5rem 2rem;
    align-items: center;
    text-align: center;
    
}

.table{
    padding: 10px;
    margin-right: 20px;
    
}

.table ul{
    display: block;
    flex-basis: 100%;
    width: 100%;
    list-style: none;
    padding-left: 1rem;
    margin: 0;
}

.table li,
.table li a{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
    text-decoration: none;
    color: inherit;
    margin-bottom: 1px;
}
.dots{
  flex-grow: 1; 
  border-bottom: 2px dotted #000; 
  margin: 0 10px; 
  position: relative;
  
  height: 1px;
}
#index{
    background-image: url('../images/food_banner_1200x250.jpg');

}
#chap7{
    background-image: url('../images/pests_banner_1200x250.jpg');
}
#chap8{
    background-image: url("../images/noxious_weeds_banner_1200x250.jpg");
}

#chap9{
    background-image: url("../images/nuisance_birds_banner_1200x250.jpg");

}

.banner{
    padding: 1px;
    background-size: cover;
    background-position: center;
    display: flex;          
    justify-content: center;  
    align-items: end;      
    height: 300px;                      
    text-align: center;
}

footer{
    padding: .5rem 1rem;
    background-color: white;
    text-align: center;
    border-top: 0px solid;
    box-shadow: 10px 7.5px 5px rgb(0, 0, 0, 0.7);
}
.wrapper{
    margin: 10px;
    align-items: center;
}
.shrimp{
    border-radius: 50%;
}

h1{
    font-size: 1.5rem;
    text-align: center;
    background-color: white;
    padding: 5px;
    border-radius: 200px;
    width: 50vw;
}
h2{
    font-size: 1.25rem;
    text-align: center;
    width: 98%;
    background-color: #000;
    color: white;
    padding: 10px;
}
h3{
    font-size: 1.1rem;
    width: 75%;
    box-shadow: 10px 7.5px 5px rgb(0, 0, 0, 0.2);
    border: 1px black solid;
    text-align: center;
    align-self: center;
    justify-self:center;
    border-radius: 10px;

}

button{
    margin: 2px;
}

body > img {
    width: 100%;
    margin: 0;
    border-left: 1px black solid;
    border-right: 1px black solid;
    padding: 1px;
}

.contact{
    display: inline-block;
    max-width: 50%;
    width: 17.5rem;
    margin: .25rem .25rem 0 .5rem;
    text-align: left;
    font-size: .9rem;
    height: 100%;
    width: 100%;
    border: 1px black solid;
    padding: 5px;
    background-color: rgb(176, 174, 174);
    border-radius: 2%;
}

.wrapper > p{
    height: 100%;
    width: 100%;
    border: 1px black solid;
    margin: 10px;
    padding: 10px;
    border-radius: 5%;
    text-align: left;
}

.wrapper > img{
    float: right
}
#fill{
    flex-grow: 1;
    border: 1px white solid ;
    margin-left: 5px;
}
.copyright{
    font-size: .8rem;
    text-align: center;
}

.listAlpha{
    list-style-type: upper-alpha;
}
.listNumber{
    list-style-type: decimal;
}
li{
    margin: .2rem;
    text-align: left;
}
img{
    text-align: center;
    margin: auto;
    display: block;

}
p{
    text-indent: 2rem;
}
a {
    font-weight: bold;
    color: rgb(21, 21, 21);
    text-decoration: none;
}
.flex{
    display: flex;
    align-items: flex-end;
    
}

.mingo{
    float: right;
    margin-left: 5px;
}